<div class="flex flex-col md:flex-row py-8 px-8 lg:px-24 bg-black">
  <div class="md:w-1/2 flex flex-col">
    <h2 class="text-3xl font-bold text-white">{{ section.settings.title }}</h2>
    <a
      class="btn lg:mr-20 mt-10 lg:mt-16 mb-8 lg:mb-0"
      style="background: #ffffff !important;
                                                                                            border-color: #ffffff !important;
                                                                                            color: #000 !important;
                                                                                            max-width: 400px;"
      href="{{ section.settings.btn_link }}">{{ section.settings.btn_text }}</a>
  </div>
  <div class="md:w-1/2 md:ml-4">
    <p class="text-white text-lg leading-7 pb-4">{{ section.settings.description }}</p>
  </div>
</div>

{% schema %}
  {
    "name": "Feature Text 4",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      }, {
        "type": "url",
        "id": "btn_link",
        "label": "Button Link"
      }, {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text"
      }
    ],
    "presets": [
      {
        "name": "Feature Text 4",
        "category": "Content"
      }
    ]
  }
{% endschema %}