<div class="flex flex-col md:flex-row">
  <div class="w-full  bg-white flex flex-col items-center justify-center p-8 lg:p-24">
    <h1 class="text-3xl font-bold mb-6 text-center">{{ section.settings.column_1_title }}</h1>

    <form
      action="https://api.hsforms.com/submissions/v3/integration/submit/your-portal-id/your-form-guid"
      method="POST"
      id="hubspot-form"
      class="w-full"
      style="max-width:475px">
      <div class="mb-4">
        <label for="name" class="sr-only">Name</label>
        <input
          type="text"
          name="fields[firstname]"
          id="name"
          placeholder="Your Name"
          required
          class="w-full bg-gray-200 p-3 rounded-md">
      </div>

      <div class="mb-4">
        <label for="email" class="sr-only">Email</label>
        <input
          type="email"
          name="fields[email]"
          id="email"
          placeholder="Your Email"
          required
          class="w-full bg-gray-200 p-3 rounded-md">
      </div>

      <input
        type="hidden"
        name="skipValidation"
        value="true">

      <button type="submit" class="btn btn--full">Submit</button>
    </form>

    <p class="mt-4">
      {{ section.settings.column_1_question }}
      <a
        href="{{ section.settings.hubspot_meeting_link }}"
        target="_blank"
        rel="noopener noreferrer"
        class="underline">Book a call</a>
    </p>
  </div>
</div>

{% schema %}
  {
    "name": "Invest Form",
    "settings": [
      {
        "type": "text",
        "id": "column_1_title",
        "label": "Column 1 Title",
        "default": "Sign up for our newsletter"
      }, {
        "type": "text",
        "id": "column_1_question",
        "label": "Column 1 Question",
        "default": "Have questions?"
      }, {
        "type": "text",
        "id": "hubspot_meeting_link",
        "label": "Hubspot Meeting Link",
        "default": "https://meetings.hubspot.com/tyler-vorce"
      }
    ],
    "presets": [
      {
        "name": "Invest Form"
      }
    ]
  }
{% endschema %}