<div class="flex flex-col md:flex-row py-8 px-8 lg:px-24">
  <div class="md:w-1/2 flex flex-col justify-between items-between">
    <h2 class="text-3xl font-bold  ">{{ section.settings.column_1_title }}</h2>
    <p class="small-text lg:pr-20">NO MONEY OR OTHER CONSIDERATION IS BEING SOLICITED, AND IF SENT IN RESPONSE, WILL NOT BE ACCEPTED. NO OFFER TO BUY THE SECURITIES CAN BE ACCEPTED AND NO PART OF THE PURCHASE PRICE CAN BE RECEIVED UNTIL THE OFFERING STATEMENT IS FILED AND ONLY THROUGH AN INTERMEDIARY’S PLATFORM. AN INDICATION OF INTEREST INVOLVES NO OBLIGATION OR COMMITMENT OF ANY KIND. "RESERVING" SECURITIES IS SIMPLY AN INDICATION OF INTEREST.</p>
  </div>
  <div class="md:w-1/2 md:ml-4">
    <script
      charset="utf-8"
      type="text/javascript"
      src="//js.hsforms.net/forms/embed/v2.js"></script>
    <script>
      hbspt.forms.create({region: "na1", portalId: "8527712", formId: "d3e70d40-40b9-409d-816f-d7958cccf1d8"});
    </script>


  </div>

</div>



{% schema %}
  {
    "name": "Invest Form",
    "settings": [
      {
        "type": "text",
        "id": "column_1_title",
        "label": "Column 1 Title",
        "default": "Sign up for our newsletter"
      }, {
        "type": "text",
        "id": "column_1_question",
        "label": "Column 1 Question",
        "default": "Have questions?"
      }, {
        "type": "text",
        "id": "hubspot_meeting_link",
        "label": "Hubspot Meeting Link",
        "default": "https://meetings.hubspot.com/tyler-vorce"
      }
    ],
    "presets": [
      {
        "name": "Invest Form"
      }
    ]
  }
{% endschema %}