<div class="sub-hero-wrapper-plus-landing">
    <div class="sub-hero-container-plus-landing">
      <div class="sub-hero-flex-row-plus-landing">
        <div class="sub-hero-flex-col-plus-landing">
          <div class="sub-hero-col-inner-plus-landing">
            <a href="/pages/on-demand-classes" class="sub-hero-link-plus-landing w-inline-block">
              <div>ON-DEMAND CLASSES</div>
            </a>
          </div>
        </div>
        <div class="sub-hero-flex-col-plus-landing">
          <div class="sub-hero-col-inner-plus-landing">
            <a href="/pages/explore-truffle-shuffle-plus" class="sub-hero-link-plus-landing w-inline-block">
              <div>SCHEDULE</div>
            </a>
          </div>
        </div>
        <div class="sub-hero-flex-col-plus-landing">
          <div class="sub-hero-col-inner-plus-landing">
            <a href="/pages/culinary-academy" class="sub-hero-link-plus-landing w-inline-block">
              <div>CULINARY ACADEMY</div>
            </a>
          </div>
        </div>
        <div class="sub-hero-flex-col-plus-landing">
          <div class="sub-hero-col-inner-plus-landing">
            <a href="/a/p/community/" class="sub-hero-link-plus-landing w-inline-block">
              <div>COMMUNITY FORUM</div>
            </a>
          </div>
        </div>
        <div class="sub-hero-flex-col-plus-landing">
          <div class="sub-hero-col-inner-plus-landing">
            <a href="/account" class="sub-hero-link-plus-landing w-inline-block">
              <div>BACK TO ACCOUNT</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>