<div class="hero-wrapper-internal-plus">
    <div class="hero-img-block-internal-plus hero-img-block-academy-plus-landing">
      <div class="section-img-overlay-plus"></div>
      <div class="hero-content-wrapper-internal-plus">
        <div class="hero-logo-wrapper-plus">
          <img src="//cdn.shopify.com/s/files/1/0259/6510/1090/files/TruffleShuffle_logo_white_1-plus.png" class="hero-logo-img-plus" alt="Truffle Shuffle Plus">
        </div>
        <h1 class="hero-main-heading-internal-plus">Explore TRUFFLE SHUFFLE PLUS</h1>
      </div>
    </div>
  </div>
  
  {% schema %}
  {
    "name": "Hero Section"
  }
  {% endschema %}