
<div class="flex-col-menu-wrapper-page">


  {%comment%}
    <div class="flex-col-menu-link-wrapper-page">
      <a href="/pages/on-demand-classes" class="flex-col-menu-link-page w-inline-block">
        <img src="//cdn.shopify.com/s/files/1/0259/6510/1090/files/on-demand-classes-min_887d2e1f-3270-4257-8e25-dfaf462f8dcb.png" loading="lazy" alt="Computer Screen" class="flex-col-menu-img-page">
      <div>
        On-Demand Classes
      </div>
      </a>
    </div>




    /pages/membership-home
    {%endcomment%}

    <script src="https://embed.journey.io/journey-lightbox.umd.js" async></script>

    <div class="flex-col-menu-link-wrapper-page">
      <a href="/pages/your-upcoming-classes" class="flex-col-menu-link-page w-inline-block {%if template == 'page.your-classes'%}w--current{%endif%}">
        <img src="//cdn.shopify.com/s/files/1/0259/6510/1090/files/schedule-min.png" loading="lazy" alt="Calendar" class="flex-col-menu-img-page">
        <div>
          Your Upcoming Classes
        </div>
        </a>
    </div>

    <div class="flex-col-menu-link-wrapper-page">
      <a href="#"  class="flex-col-menu-link-page w-inline-block {%if template == 'page.membership-home'%}w--current{%endif%}">
        <img src="https://cdn.shopify.com/s/files/1/0259/6510/1090/files/on-demand-classes-min_51f118d2-c4f7-4943-ac2f-1bb81855b9a4.png?v=1671560493" loading="lazy" alt="Calendar" class="flex-col-menu-img-page">
        <div>
          <button class="membership-button" data-journey-url="https://truffleshuffle.journey.io/p/6bca435d2f094eb69bc418ed504b14b4">  Onboarding Guide</button>
        </div>
        </a>
    </div>




    <div class="flex-col-menu-link-wrapper-page">
      <a href="/pages/explore-truffle-shuffle-plus" class="flex-col-menu-link-page w-inline-block {%if template == 'page.explore-truffle-shuffle-plus'%}w--current{%endif%}">
        <img src="//cdn.shopify.com/s/files/1/0259/6510/1090/files/schedule-min.png" loading="lazy" alt="Calendar" class="flex-col-menu-img-page">
        <div>
          Upcoming Schedule
        </div>
        </a>
    </div>
  
    <div class="flex-col-menu-link-wrapper-page">
      <a href="/pages/culinary-academy" class="flex-col-menu-link-page w-inline-block {%if template == 'page.culinary-academy'%}w--current{%endif%}">
        <img src="//cdn.shopify.com/s/files/1/0259/6510/1090/files/culinary-academy-min.png" loading="lazy" alt="Academy" class="flex-col-menu-img-page">
        <div>
          Living Cookbook
        </div>
      </a>
    </div>

    <div class="flex-col-menu-link-wrapper-page">
      <a href="/pages/membership-offers" class="flex-col-menu-link-page w-inline-block {%if template == 'page.culinary-academy'%}w--current{%endif%}">
        <img src="//cdn.shopify.com/s/files/1/0259/6510/1090/files/add-on.png?v=1679417787" loading="lazy" alt="Academy" class="flex-col-menu-img-page">
        <div>
          Membership Offers
        </div>
      </a>
    </div>
  
    <div class="flex-col-menu-link-wrapper-page">
      <a href="/a/p/community/" class="flex-col-menu-link-page w-inline-block">
        <img src="//cdn.shopify.com/s/files/1/0259/6510/1090/files/community-forum-min.png" loading="lazy" alt="Forum" class="flex-col-menu-img-page">
        <div>
          Ask a Chef Forum
        </div>
      </a>
    </div>
      
    <div class="flex-col-menu-link-wrapper-page">

      

      <a href="https://www.truffleshufflesf.com/a/p/community/space/739074158" class="flex-col-menu-link-page w-inline-block">
        {%comment%}
      <a href="https://www.truffleshufflesf.com/pages/truffle-shuffle-subscriptions#faq-section" class="flex-col-menu-link-page w-inline-block">
        {%endcomment%}
        <img src="https://cdn.shopify.com/s/files/1/0259/6510/1090/files/FAQ-Icon.png?v=1671498022" loading="lazy" alt="Forum" class="flex-col-menu-img-page">
        <div>
          Membership FAQ
        </div>
      </a>
    </div>
  
{%- comment -%}data-lion-refer{%- endcomment -%}
    <div class="flex-col-menu-link-wrapper-page desktop">
      <a href="https://www.truffleshufflesf.com/#smile-home" class="flex-col-menu-link-page w-inline-block">
        <img src="//cdn.shopify.com/s/files/1/0259/6510/1090/files/refer-a-friend-min.png" loading="lazy" alt="Friends" class="flex-col-menu-img-page">
        <div>
          Invite a Friend
        </div>
      </a>
    </div>

    <div class="flex-col-menu-link-wrapper-page desktop">
      <a href="/tools/recurring/login/" class="flex-col-menu-link-page w-inline-block">
        <img src="//cdn.shopify.com/s/files/1/0259/6510/1090/files/back-to-account-min.png" loading="lazy" alt="Account" class="flex-col-menu-img-page">
        <div>
          Manage Subscription Deliveries
        </div>
      </a>
    </div>

    <div class="flex-col-menu-link-wrapper-page">
      <a href="/account" class="flex-col-menu-link-page w-inline-block">
        <img src="//cdn.shopify.com/s/files/1/0259/6510/1090/files/back-to-account-min.png" loading="lazy" alt="Account" class="flex-col-menu-img-page">
        <div>
          Back to Account
        </div>
      </a>
    </div>

    <div class="flex-col-menu-link-wrapper-page mobile">
      <a href="/tools/recurring/login/" class="flex-col-menu-link-page w-inline-block">
        <img src="//cdn.shopify.com/s/files/1/0259/6510/1090/files/back-to-account-min.png" loading="lazy" alt="Account" class="flex-col-menu-img-page">
        <div>
          Manage Subscription Deliveries
        </div>
      </a>
    </div>
  

    <div class="flex-col-menu-link-wrapper-page mobile">
      <a href="#"  data-lion-refer class="flex-col-menu-link-page w-inline-block">
        <img src="//cdn.shopify.com/s/files/1/0259/6510/1090/files/refer-a-friend-min.png" loading="lazy" alt="Friends" class="flex-col-menu-img-page">
        <div>
          Invite a Friend
        </div>
      </a>
    </div>
  
  </div>
  
  
  {% schema %}
  {
    "name": "Plus Menu Section"
  }
  {% endschema %}