{%if customer.tags contains 'Active Subscriber'%}

<!-- Bold: Memberships (page) -->
{%comment%}
{% include 'bold_mem_helper' with 'page' %}
{%endcomment%}
<!-- end Bold code -->




{% comment %}
{% section 'plus-landing-hero-section' %}
{% section 'plus-landing-menu' %}
{% endcomment %}

<div class="flex-row-outer-page">

    <div class="flex-col-outer-page-1">
      {% section 'plus-landing-menu-vertical' %}
    </div>
  
    <div class="flex-col-outer-page-2">
  
      <div class="calendar-wrapper-plus-landing">
  
        <div class="container-large">
  
          {%- comment -%}
            <div class="calendar-section-heading-wrapper-home">
              <h3 class="section-heading-plus"><a href="/collections/live-experiences">Invite a Friend</a></h3>
            </div>
          {%- endcomment -%}
  

            
            <div class="culinary-library-wrapper">
                <div class="culinary-library-inner">

                  <div data-lion-account></div>
                    
                </div>
            </div>




  
        </div> <!-- container-large -->
  
      </div> <!-- alendar-wrapper-plus-landing -->
   
    </div> <!-- flex-col-outer-page-2 -->
    
  </div> <!-- flex-row-outer-page -->
  
  
  
  <style type="text/css">
    #event-calendar-app button.subcribe-to-calendar__inverse[type="button"] {
      color: #ffffff !important;
    }
  
    #event-calendar-app .eca-calendar .fc-view-container span.fc-day-number {
      color: #000000 !important;
    }
  
  </style>


  {%else%}

<div class="container-large margin-top">

  <div class="calendar-section-heading-wrapper-home">
    <h3 class="section-heading-plus">Sorry, this page is for members only</h3>
    <p class="extra-margin-b">This page can only be accessed if you have a current Truffle Shuffle VIP Membership.</p>
  </div>

  <div class="hero-col-btn-wrapper-account-plus">
    <a href="https://www.truffleshufflesf.com/pages/truffle-shuffle-subscriptions" class="btn-main-plus w-button">ABOUT THE MEMBERSHIP</a>
  </div>


</div> <!-- container-large -->

{%endif%}